QStatusBar QLabel {
    padding-left: 10px;
    padding-right: 10px;
}

QLabel[cssClass=highlight] {
    color: red;
}

QLabel[cssClass=title_column] {
    font-weight: bold;
    font-style: italic;
}

QToolButton:checked {
    border-width: 5px;
}
